@{
    ViewData["Title"] = "Change History Report";
}
@model UserModel

<title>@ViewData["Title"] - BestofBooks</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<script src="~/js/inventorylist-jquery.js"></script>
<script src="~/js/changeHistoryReport.js"></script>
<script src="~/js/site.js"></script>
<script src="https://kit.fontawesome.com/f9f4cabcd6.js" crossorigin="anonymous"></script>

<div class="container-fluid my-4">
    <div class="text-center">
        <h1 class="text-wrap" style="color: #0429AC">Welcome to Best of Books!</h1>
        <img src="@Url.Content("~/Images/BestofBooks2.png")" class="img-fluid" style="width:13em; padding-bottom:1em" />
    </div>
</div>


<div class="container text-center">
    <p style="color: #0429AC; font-weight:bold; font-size:30px">Change History Report</p>

    @*Show usernames from DB as filter options*@
    <select name="chrUsername" id="chrUsername" asp-for="@Model.username" style="background-color:#F5F5F5; text-align:center; height:1.65em">
        @*Place code to iterate through username options here, and delete placeholder values below*@
        <option value="" disabled selected>Select Username</option>
    </select>

    @*Show user last names from DB as filter options*@
    <select name="chUserLast" id="chUserLast" asp-for="@Model.user_last" style="background-color:#F5F5F5; text-align:center; height:1.65em">
        @*Place code to iterate through username options here, and delete placeholder values below*@
        <option value="" disabled selected>Select Last Name</option>
    </select>

    <div class="dropdown">
        <button onclick="dropdownStateCHI()" class="dropbtn" style="height:1.7em">Select Date</button>
        <div id="dateRangeDropdown" class="dropdown-content">
            <label for="beginDate">Begin Date:</label>
            <input type="date" id="beginDate" name="beginDate" required>
            <label for="endDate">End Date:</label>
            <input type="date" id="endDate" name="endDate" required>
            <br />
            <button class="datergOKBtn" style="margin:.5em">OK</button>
        </div>
    </div>

    @*Add functionality to search button to trigger stored procedure based on parameters*@
    <div class="container text-center" style="padding: 1em 0 1em 0">
        <button id="SearchBtn" name="inventoryReportSearchBtn">Search</button>
    </div>

        <div id="printArea">
            <table class="table-hover table-bordered align-items-center" id="ListTable" cellspacing=5 cellpadding=5 border="1">
                <tr class="text-center">
                    <th>Table Name</th>
                    <th>Change Action</th>
                    <th>Username</th>
                    <th>Date</th>
                </tr>
                <!-- hidden row-->
                <tr class="hidden text-center">
                    <td size="10"></td>
                    <td size="15"></td>
                    <td size="15"></td>
                    <td size="15"></td>
                </tr>
            </table>
        </div>


    <div class="container text-center" style="padding: 1em 0 1em 0">
        <button id="PrintBtn" name="changeHistoryReportPrintBtn">Print</button>
    </div>

</div>

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("Login", model: new AdminModel())
}
