@{
    ViewData["Title"] = "Reports";
}


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<script src="~/js/inventorylist-jquery.js"></script>

<div class="container-fluid my-4">
    <div class="text-center">
        <h1 class="text-wrap" style="color: #0429AC">Reports</h1>
        <img src="@Url.Content("~/Images/BestofBooks2.png")" class="img-fluid" style="width:13em; padding-bottom:1em" />
    </div>
</div>

<div class="container text-center">
    <h2 style="color: #0429AC">Select a Report</h2>
    <p>@Html.ActionLink("Change History Report", "ChangeHistoryReport")</p>
    <p>@Html.ActionLink("Inventory List Report", "AvailableInventoryListReport")</p>
</div>



@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("Login", model: new AdminModel())
}

