@{
    ViewData["Title"] = "Inventory";
}
<link rel="stylesheet" href="~/css/site.css" />

<div class="text-center">
    <h1 style="text-align:center">Welcome to Best of Books!</h1>
    <img src="@Url.Content("~/Images/BestofBooks.png")" style="display:block; margin-left: auto; margin-right: auto; width: 50%" />
</div>
