/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Top Nav and Tab styles - excludes Login link
-------------------------------------------------- */
.navLink {
    display: block;
    padding: 0.5rem 1rem;
    color: #0429AC;
}

    .navLink:hover, .navLink:focus {
        text-decoration: none;
        color: blueviolet;
        font-weight: bold;
    }

    .navLink.disabled {
        pointer-events: none;
        cursor: default;
    }

    .navLink[aria-current="page"] {
        background-color: #0429AC;
        color: #DAEDE2;
    }

/* Top  Login Link Nav styles - kept separate to remove from aria styling
-------------------------------------------------- */
.loginLink {
    display: block;
    padding: 0.5rem 1rem;
    color: #0429AC;
}

    .loginLink:hover, .loginLink:focus {
        text-decoration: none;
        color: blueviolet;
        font-weight: bold;
    }

    .loginLink.disabled {
        pointer-events: none;
        cursor: default;
    }

/* createAccount Form styles
-------------------------------------------------- */
#createAccountForm {
    margin: 0 auto;
    width: 60%;
    position: relative;
    font-family: "Bookshelf Old Style", Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    line-height: 20px;
}

    #createAccountForm select, input[type="text"], input[type=email], textarea {
        background-color: #DAEDE2;
        margin-bottom: 25px;
    }

    #createAccountForm button {
        padding: 10px 20px;
        background-color: #DBD9CA;
        color: #0429AC;
    }

/* Login Form styles
-------------------------------------------------- */
#loginForm {
    margin: 0 auto;
    width: 60%;
    position: relative;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    line-height: 20px;
}

    #loginForm select, input[type="text"], input[type=email], input[type=password], textarea {
        background-color: #F5F5F5;
        margin-bottom: 25px;
    }

    #loginForm button {
        padding: 10px 20px;
        margin-top: 50px;
        background-color: #DBD9CA;
        color: #0429AC;
    }
    #loginModalLabel {
        color: #0429AC;
    }
/* Admin Table Styles
-------------------------------------------------- */
#adminListTable h2 {
    margin: 0 auto;
    width: 60%;
    position: relative;
    text-align: center;
    padding: 1em;
}

#userType {
    color: #0429AC;
    background-color: #F5F5F5;
}

/* Input Styles 
-------------------------------------------------- */
#input-style {
    background-color: #F5F5F5;
    align-content: center;
}

/* Inventory Table Styles 
-------------------------------------------------- */
#inventoryListTable {
    background-color: #DBD9CA;
    color: #0429AC;
    text-align: center;
    display: inline-block;
}
